<div class="container" style="padding: 20px">
    <p-table styleClass="p-datatable-striped" [value]="stocks"
      >tocks
      <ng-template pTemplate="header">
        <tr>
          <th>Item Code</th>
          <th>Category</th>
          <th>Product</th>
          <th>Supplier Code</th>
          <th>Supplier Name</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stocks>
        <tr>
          <td>{{ stocks.item.unitCode }}</td>
          <td>{{ stocks.item.category.name }}</td>
          <td>{{ stocks.item.productDescription }}</td>
          <td>{{ stocks.item.supplier.code}}</td>
          <td>{{ stocks.item.supplier.name }}</td>
          <td >{{ stocks.difference }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>